body {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Proxima Nova', 'Helvetica Neue', Arial;
  font-weight: 200;
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 22px; }

h5, h6 {
  font-size: 20px; }

b, strong {
  font-weight: 600; }

a {
  color: #990000; }
  a:hover, a:focus {
    color: #330000; }
  a:visited {
    color: #330000; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px 10px;
  overflow: scroll; }
  pre code {
    font-size: 12px; }

blockquote {
  border-left: 4px solid rgba(153, 0, 0, 0.3);
  margin-left: 0px;
  padding-left: 30px;
  margin-left: 2px; }

.header {
  width: 700px;
  padding: 20px 20px;
  margin: 0 auto;
  margin-bottom: 50px; }
  .header .siteTitle {
    margin: 0;
    text-align: center; }
    .header .siteTitle a {
      text-transform: uppercase;
      display: inline-block;
      border: 3px solid #990000;
      padding: 5px 10px 3px;
      color: #990000;
      font-weight: bold;
      letter-spacing: 5px; }
      .header .siteTitle a:hover {
        background: #990000;
        color: white;
        border-color: #990000; }
  .header h1.siteTitle {
    font-size: 22px;
    text-align: center;
    margin: 0; }
    .header h1.siteTitle a {
      text-decoration: none; }
  .header p.camelBy {
    text-align: center; }
  .header nav {
    text-align: center;
    margin-top: 50px; }
    .header nav a {
      display: inline-block;
      font-size: 16px;
      text-decoration: none;
      margin: 0 20px; }
      .header nav a:hover, .header nav a:focus {
        color: #330000 !important; }
      .header nav a:visited {
        color: #990000; }

.everything {
  margin: 0 auto;
  width: 700px;
  padding: 0 20px;
  position: relative; }
  .everything h2 {
    margin-bottom: 0; }
    .everything h2 a {
      text-decoration: none;
      color: black; }
      .everything h2 a:hover, .everything h2 a:focus {
        color: #330000; }
  .everything .date {
    font-size: 16px; }

.daybreak {
  background: #ccc;
  border: none;
  height: 1px;
  width: 80%;
  margin: 100px auto; }

div.everything div:nth-last-child(3) .daybreak {
  display: none; }

.paginationFooter {
  overflow: hidden;
  margin: 10px 0; }
  .paginationFooter .nextPage {
    float: right; }
  .paginationFooter .previousPage {
    float: left; }

.copy {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 13px; }

@media screen and (max-width: 740px) {
  body {
    font-size: 16px;
    line-height: 24px; }

  .siteTitle {
    padding-top: 20px; }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500; }

  h1 {
    font-size: 24px; }

  h2 {
    font-size: 22px; }

  h3 {
    font-size: 20px; }

  h4 {
    font-size: 18px; }

  h5, h6 {
    font-size: 18px; }

  .header, .everything {
    width: 90%;
    padding: 0% 5%; } }
