<html>
    <head>
        <title>@@SiteTitle@@ &mdash; @@Title@@</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/site.css">
        <link rel="alternate" type="application/rss+xml" title="@@SiteTitle@@" href="/rss" />
    </head>
	<body>
	
	<div class="header">
		
		<h1 class="siteTitle"><a href="./">Camel</a></h1>
		
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/">Search</a>
			<a href="/">@twitter</a>
		</nav>
		
	</div>
	
	<div class="everything">