<html>
    <head>
        <title>@@SiteTitle@@ &mdash; @@Title@@</title>
        <link rel="stylesheet" type="text/css" href="/css/site.css">
        <link rel="alternate" type="application/rss+xml" title="@@SiteTitle@@" href="/rss" />
        <link rel="alternate" type="application/rss+xml" title="@@SiteTitle@@ with link posts pointed to @@SiteTitle@@" href="/rss-alternate" />
        <!-- Twitter Cards -->
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:site" content="@site_twitter_username" />
        <meta property="twitter:creator" content="@site_author_username" />
        <meta property="twitter:title" content="@@Title@@" />
        <meta property="twitter:description" content="@@Description@@" />
        <meta property="twitter:image" content="@@Image@@" />
        <!-- Facebook Open Graph -->
        <meta property="og:title" content="@@Title@@" />
        <meta property="og:site_name" content="@@SiteTitle@@" />
        <meta property="og:url" content="@@SiteRoot@@@@relativeLink@@" />
        <meta property="og:description" content="@@Description@@" />
        <meta property="og:image" content="@@Image@@" />
    </head>
	<body>
